__pycache__/
.idea/
.python-version
db.sqlite3
#src/social_site/local_settings.ini
#src/social_site/local_settings.py
#src/social_site/production_settings.py
local_settings.ini
local_settings.py
production_settings.py
