.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    padding-top: 2px;
    margin: 0;
    padding-bottom: 2px;
}

.dataTables_info {
    text-align: right;
    font-size: small;
}

.dataTables_length {
    font-size: small;
}

.dataTables_icons {
    margin-right: 2vh;
    width: min(4vmin, 35px);
}
